POSTGRES_DATASOURCE_URL=jdbc:postgresql://postgres:5432/parkease
POSTGRES_USERNAME=parkease
POSTGRES_PASSWORD=replace-with-a-local-development-password
PARKEASE_JWT_SECRET=replace-with-at-least-32-random-characters
